@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}


.flex-section{

    display: flex;
    flex-direction: row;
}

.clear{
    clear: both;
}

#header {
    width: 100%;
    background:linear-gradient(to right,#fff,#f00 );
    color: #fff;
    font-size: 19px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
}

#menu a:hover {
    color: #000!important;
    text-decoration: underline;
    text-decoration-color: #000;
}

#menu-mobile{
    display: none;
}

.menu-logo{
    display: none;
}

#menu ul{
    margin-bottom: 0;
}

#menu {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    background-color: #f00;
    text-shadow: 1px 1px 1px #111111;
}

ul li {
    display: inline-block;
    padding: 25px;
}

#menu img {
    width: 40px;
}

::-moz-placeholder {
    color: rgb(134, 4, 4);
}

a {
    text-decoration:1px 1px 1px #fff;
    color: #fff!important;

    font-weight: bolder;
}


.add{
    width: 100%;
    text-align: center;
    padding: 50px 0;

}

.container{
    margin: 0 auto;
    padding: 0 2%;

}

.add form{
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 0px 40px #111;
    margin: 35px auto;
    padding: 0 2%;
   
    background-color: ghostwhite;

}

.w50{
    width: 50%;
    float: left;
    margin-top: 40px;
    padding: 0 5px;

    
}

.w50 input{
   
    width: 100%;
    height: 45px;
    padding: 10px;
    outline: 0;
    
    
   
}



.add form input[type=submit]{
    width: 80%;
    margin: 50px 0;
    height: 60px;
    cursor: pointer;
    font-size: 22px;
    color: #fff;
    border: 0;
    
}


.rodape{
    background:linear-gradient(#fff,#f00 );
    width: 100%;
    padding: 40px;
    text-align: center;
   
    
   
}
.conteudo-rodape h3{
    font-size: 17px;
}

.conteudo-rodape p{
    font-size: 14px;
    margin: 10px 0;
}

.conteudo-rodape a{
    color: rgb(160, 156, 156);
}

.conteudo-rodape a:hover{
    text-decoration: underline;
    color: #fff;
}
.conteudo-rodape img{
        width: 30px;
        height: 30px;
        position: relative;
        top: 5px;
        margin-left: 5px;
       

}


@media screen and (max-width:510px){

    #menu nav {
        display: none;
    }

    #menu-mobile {
        display: block;

    }


    #menu-mobile ul{
        background-color: #f00;
        display: none;
        
        
    }

    #menu-mobile li{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 17px;
        border-bottom: 1px solid #fff;
        padding: 15px 0;
    }

    #menu-mobile a{
        color: #fff;
    }

    .menu-logo{
        display: block;
    }

    .menu-logo i {
        font-size: 25px;
        padding: 16px;
        color: #f00;
        cursor: pointer;
      
    }

    .banner{
        width: 100%;
    }

    .add form{
        width: 100%;
        max-width: 100%;
        padding: 30px 2%;
    }

    .w50{
        float: none;
        width: 100%;
    }

    .add form input[type=submit]{
        width: 100%;
        margin: 20px 0;
    }

    .add h2{
        font-size: 25px;
    }

}